
.container{

}
.flex{
	display: flex;
	justify-content: center;
}

.title{
	font-size: 15pt;
	font-weight: bolder;
}
.summary{
	font-size: 11pt;
}
.des{
	font-size: 11pt;
}
.menu{
	display: flex;
	justify-content: space-around;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 0;
	background-color: #fff;
	z-index: 999999;
}	